* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.mainTitle {
    width: auto;
    border: 500px;
    background-color: gainsboro;
    text-align: center;
}

#home {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 20px;
}